* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

a {
   text-decoration: none; 
   color: #1D1F2E;
}
/* .wrapper {
    display: flex;
    flex-direction: column;
} */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 18px; */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header__menu {
    margin-left: 96px;   
}
.menu__item {
    margin-left: 30px;
}
.menu__item:first-child {
    margin-left: 0px;
}

.header__cart {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.cart__wrapper {
    display: flex;
    align-items:flex-end;
}
.cart__link {
    margin-left: 10px;
}
.cart__product-counter {
    margin-left: 8px;
    height: 18px;
    width: 20px;
    text-align: center;
    background: #1D1F2E;
    border-radius: 9px;
    color: #FFFFFF;
    letter-spacing:0;
}
.cart__underline {
    height: 2px;
    margin-top: 4px;
    background: rgba(162, 95, 75, 0.3);
}

.promo {
    height: 530px;
    background-color: #050827;
}
.promo__container {
    margin: 0 auto;
    height: 530px;
    width: 940px;
    background: url(/img/bg/main-bg.jpg) center center/contain no-repeat;
}
.promo__subject {
    padding-top: 159px;
    text-align: center;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    color:#FFFFFF;
}
.promo__subtitle {
    font-size: 12px;
    /* line-height: 18px; */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.promo__title {
    margin-top: 10px;
    font-size: 47px;
    line-height: 60px;
}
.promo__text {
    margin-top: 10px;
    font-size: 17px;
    line-height: 30px
}

.promo__btn {
    display: block;
    margin: 48px auto;
    /* padding: 0 24px; */
    width: 231px;
    height: 18px;
    cursor: pointer;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.products {
    margin: 0 auto;
    margin-top: 120px;
}
.container {
    margin: 0 auto;
    width: 940px;   
}
.story {
   padding: 0 141px;
   text-align: center;
}
.story__title {
    margin: 0 40px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    /* line-height: 40px; */
    text-align: center;
    color: #1D1F2E;
}
.story__text {
    margin-top: 16px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.story__link {
    margin: 0 auto;
    margin-top: 21px;
    height: 30px;
    width: 133px;
}
.link__desc {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #A25F4B;
}
.link__underline {
    margin-top: 2px;
    width: 133px;
    height: 2px;
    background: rgba(162, 95, 75, 0.2);
}
.container__title {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 18px;
    margin-top: 100px;
}
.container__title__underline {
    margin-left: 15px;
    width: 30px;
    height: 1px;
    background: #ECECED;
    border-radius: 0px

}
.container__title__headline {
    margin-left: 15px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.products {
    margin-top: 100px;
    display: flex;
}
.products__big-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
    height: 657px;
}
.products__big-item:last-child {
    margin-left: 20px;
}
.products__big-img{
    width: 460px;
    height: 540px;
}
.products__desc {
    margin-top: 35px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #1D1F2E;
}
.prise {
    display: flex;
    justify-content: center;
    align-items:flex-end
}
.price__regular {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}
.price__old {
    margin-left: 10px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-decoration-line: line-through;
    color: rgba(29, 31, 46, 0.4);
}
.price__new {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    color: #A25F4B;
}
.products-medium {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1633px;
    padding: 0 3px;
}
.products-medium__row {
    display: flex;
    justify-content: center;
}
.products__medium-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8.41px;
    width: 316.8px;
    height: 497px;
}
.products__medium-item:first-child {
    margin-left: 0;
}
.products__medium-item:last-child {
    height: 493px;
}

.offer {
    display: flex;
    margin-top: 100px;
    height: 280px;

}
.offer__img {
    display: flex;
}
.offer__small-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.offer__block {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 20px;
    padding: 4px 47px 12px 60px;
}
.offer__subtitle {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.offer__title {
    margin-top: 14px;
    width: 237px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;
}
.offer__text {
    margin-top: 15px;
    width: 353px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.offer__btn {
    margin-top: 25px;
    width: 173px;
    height: 36px;
    background: #1D1F2E;
    border-radius: 0px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
.second-bg {
    margin-top: 130px;
    height: 340px;
    background: url(/img/bg/second.jpg) no-repeat;
    background-size: cover;
}
.blog{
    width: 940px;
    margin: 0 auto;
}
.blog__container {
    display: flex;
    justify-content:space-between;
    margin-top: 100px;
}   
.blog__item {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.blog_title {
    margin-top: 29px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
}
.blog__desc {
    margin-top: 10px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.blog__data {
    margin-top: 16px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.registration {
    margin-top: 200px;
    padding-top: 80px;
    height: 327px;  
    background: #1D1F2E;
}
.container__registration{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.container__registration .container__title {
    margin-top: 0;
}
.container__title__underline-white {
    background: rgba(210, 210, 213, 0.1);
}
.container__title__headline-white {
    color: #FFFFFF;
}
.registration__title {
    margin-top: 15px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.registration__form {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 489px;
    height: 54px;
}
.registration__input {
    width: 350px;
    border: 1px solid #2F303E;
    background: #1D1F2E;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.registration__btn {
    width: 129px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
    border: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;

}
.footer {
    margin: 0 auto;
    margin-top: 100px;
    padding: 3px 105px 11px 0;
    display: flex;
    /* justify-content: space-between; */
    width: 940px;
    height: 204px;
}
.footer__column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.footer__disc {
    margin-top: 22px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
.copyright {
    margin-top: 81px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(29, 31, 46, 0.3);
}

.footer_title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.footer__items {
    display: flex;
    flex-direction: column;
}
.footer__item {
    margin-top: 10px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(29, 31, 46, 0.7);
}
.footer__item:first-child {
    margin-top: 22px;
}
.logo {
    width: 112px;
    height: 24px;
}
.footer__link {
    margin-top: 16px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #1D1F2E;
}
.footer__powered {
    margin-top: 54px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}