* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none; 
   color: #1D1F2E;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 18px; */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header__menu {
    margin-left: 96px;   
}
.menu__item {
    margin-left: 30px;
}
.menu__item:first-child {
    margin-left: 0px;
}

.header__cart {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.cart__wrapper {
    display: flex;
    align-items:flex-end;
}
.cart__link {
    margin-left: 10px;
}
.cart__product-counter {
    margin-left: 8px;
    height: 18px;
    width: 20px;
    text-align: center;
    background: #1D1F2E;
    border-radius: 9px;
    color: #FFFFFF;
    letter-spacing:0;
}
.cart__underline {
    height: 2px;
    margin-top: 4px;
    background: rgba(162, 95, 75, 0.3);
}

.promo {
    height: 530px;
    background-color: #050827;
}
.promo__container {
    margin: 0 auto;
    height: 530px;
    width: 940px;
    background: url(/img/bg/main-bg.jpg) center center/contain no-repeat;
}
.promo__subject {
    padding-top: 159px;
    text-align: center;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    color:#FFFFFF;
}
.promo__subtitle {
    font-size: 12px;
    /* line-height: 18px; */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.promo__title {
    margin-top: 10px;
    font-size: 47px;
    line-height: 60px;
}
.promo__text {
    margin-top: 10px;
    font-size: 17px;
    line-height: 30px
}

.promo__btn {
    display: block;
    margin: 48px auto;
    /* padding: 0 24px; */
    width: 231px;
    height: 18px;
    cursor: pointer;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}